<div class="blog">
  <h2 class="blog__heading">تازه ترین های وبلاگ تپسی</h2>
  <div class="blog-flex flex">
    <div class="item">
      <div class="item__image">
        <img src="images/blog/car-start.jpg" alt="car refusing to start">
      </div>

      <div class="item__content">
        <h4 class="item__heading">دلایل استارت نخوردن خودرو</h4>
        <p class="item__text">
          اگر به دنبال خرید موتور و استفاده روزانه از آن هستید، یکی از ویژگی‌هایی که باید در نظر بگیرید کم‌استهلاک
          بودن
          آن است. چراکه این موضوع مستقیما بر هزینه‌های شما تاثیر دارد. در ادامه این مطلب، بهترین موتورهای کم‌استهلاک و
          ویژگی‌های آن‌ها را بررسی کرده‌ایم.
        </p>
      </div>
    </div>
    <div class="item">
      <div class="item__image">
        <img src="images/blog/motor.jpg" alt="a modern motorcycle">
      </div>

      <div class="item__content">
        <h4 class="item__heading">دلایل استارت نخوردن خودرو</h4>
        <p class="item__text">
          اگر به دنبال خرید موتور و استفاده روزانه از آن هستید، یکی از ویژگی‌هایی که باید در نظر بگیرید کم‌استهلاک
          بودن
          آن است. چراکه این موضوع مستقیما بر هزینه‌های شما تاثیر دارد. در ادامه این مطلب، بهترین موتورهای کم‌استهلاک و
          ویژگی‌های آن‌ها را بررسی کرده‌ایم.
        </p>
      </div>
    </div>
    <div class="item">
      <div class="item__image">
        <img src="images/blog/soopup.jpg" alt="damaged car part">
      </div>

      <div class="item__content">
        <h4 class="item__heading">دلایل استارت نخوردن خودرو</h4>
        <p class="item__text">
          اگر به دنبال خرید موتور و استفاده روزانه از آن هستید، یکی از ویژگی‌هایی که باید در نظر بگیرید کم‌استهلاک
          بودن
          آن است. چراکه این موضوع مستقیما بر هزینه‌های شما تاثیر دارد. در ادامه این مطلب، بهترین موتورهای کم‌استهلاک و
          ویژگی‌های آن‌ها را بررسی کرده‌ایم.
        </p>
      </div>
    </div>
  </div>

</div>