<article class="feature">
  <div class="flex--column">
    <div class="feature__image image--padding-right">
      <img src="images/home/i-mac.webp" alt="" />
    </div>

    <div class="feature__content">
      <h2 class="heading feature__heading">خدمات تپسی ویژه کسب‌وکارها</h2>
      <p class="feature__text">
        پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست هم‌زمان
        تعداد نامحدودی خودرو و پیک را برای کسب‌وکارها و سازمان‌ها فراهم می‌کند.
        و با استفاده از آن می‌توانید ماموریت های درون‌شهری و ارسال کالاهای خود
        را به سادگی مدیریت کنید.
      </p>
      <span class="link--arrow inline-block">
        <a href="#">اطلاعات بیشتر سرویس سازمانی</a>
        <img
          class="logo--inline"
          src="images/ic-left-arrow-orange.svg"
          alt=""
        />
      </span>
      <a href="#" class="btn btn--red-bg btn--white-text btn--block">
        ورود و ثبت نام پنل سازمانی
        <img class="logo--inline" src="images/ic-biker-join.svg" alt="" />
      </a>
    </div>
  </div>
</article>
<article class="feature">
  <div class="flex--column">
    <div class="feature__image">
      <img src="images/home/macbook.webp" alt="" />
    </div>

    <div class="feature__content">
      <h2 class="heading feature__heading">خرید کد اعتبار تپسی</h2>
      <p class="feature__text">
        کد اعتبار تپسی امکان استفاده از تخفیف در سفر با تپسی به میزان اعتبار
        خریداری شده را برای کاربران، کسب و کارها و سازمان ها فراهم می کند. تنها
        با صرف چند دقیقه می توانید این کد را تهیه کنید و آن را در اختیار کارکنان
        و مشتریانتان بگذارید.
      </p>
      <span class="link--arrow inline-block">
        <a href="#">اطلاعات بیشتر سرویس سازمانی</a>
        <img
          class="logo--inline"
          src="images/ic-left-arrow-orange.svg"
          alt=""
        />
      </span>
      <a href="#" class="btn btn--red-bg btn--white-text btn--block">
        ورود و ثبت نام پنل سازمانی
        <img class="logo--inline" src="images/ic-biker-join.svg" alt="" />
      </a>
    </div>
  </div>
</article>
