<div class="fixed-bg">
    <div class="flex">
      <div class="box">
        <h3>بسته امنیت سفر
        </h3>
        <p>امکانات ویژه امنیت سفر، شامل اشتراک سفر و پشتیبانی ۲۴ ساعته تیم متخصصین امنیت تپ
        </p>
      </div>
      <div class="wall"></div>
      <div class="box">
        <h4>درخواست تلفنی
        </h4>
        <p>امکان درخواست خودرو بدون نیاز به اینترنت و اپلیکیشن، از طریق تماس با شماره ۱۶۳۰</p>
      </div>
      <div class="wall"></div>
      <div class="box">
        <h4>دسترس‌پذیری برای توان‌یابان
        </h4>
        <p>امکان استفاده کاربران نابینا و ناشنوا از اپلیکیشن تپسی و عدم کسر کمیسیون از سفر مسافران ویلچردار</p>
      </div>
      <div class="wall"></div>
      <div class="box">
        <h4>امکانات هوشمند
        </h4>
        <p>سهولت استفاده از اپلیکیشن با پیشنهاد مبدا و مقصد سفر، مقاصد منتخب و پیشنهادهای ویژه شما</p>
      </div>
    </div>
  </div>