<footer class="footer">
  <div class="footer__flex">
    <div class="footer__box">
      <div class="footer__logo"><img src="images/tapsi-logo-white.svg"></div>
      <h3 class="footer__logo__text">اپلیکیشن درخواست خودرو و پیک</h3>
      <p class="desktop-copyright copyright">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
    </div>
    <div class="footer__box">
      <h6>تپسی</h6>
      <ul>
        <li><a href="">وبلاگ تپسی</a></li>
        <li><a href="">فرصت شغلی</a></li>
        <li><a href="">تماس با ما</a></li>
        <li><a href="">لوگو و هویت سازمانی</a></li>
        <li><a href="">استخدام بازاریاب</a></li>
      </ul>
    </div>
    <div class="footer__box">
      <h6>کسب و کارها</h6>
      <ul>
        <li><a href="">وبلاگ تپسی</a></li>
        <li><a href="">فرصت شغلی</a></li>
        <li><a href="">تماس با ما</a></li>
        <li><a href="">لوگو و هویت سازمانی</a></li>
        <li><a href="">استخدام بازاریاب</a></li>
      </ul>
    </div>
    <div class="footer__box">
      <h6>مسافران</h6>
      <ul>
        <li><a href="">وبلاگ تپسی</a></li>
        <li><a href="">فرصت شغلی</a></li>
        <li><a href="">تماس با ما</a></li>
        <li><a href="">لوگو و هویت سازمانی</a></li>
        <li><a href="">استخدام بازاریاب</a></li>
      </ul>
    </div>
    <div class="footer__box">
      <h6>رانندگان</h6>
      <ul>
        <li><a href="">وبلاگ تپسی</a></li>
        <li><a href="">فرصت شغلی</a></li>
        <li><a href="">تماس با ما</a></li>
        <li><a href="">لوگو و هویت سازمانی</a></li>
        <li><a href="">استخدام بازاریاب</a></li>
      </ul>
    </div>
    <div class="footer__namad">
      <div class="namad__box"><img src="images/etehadiye.png" alt=""></div>
      <div class="namad__box"><img src="images/etehadiye.png" alt=""></div>
      <div class="namad__box"><img src="images/etehadiye.png" alt=""></div>
    </div>

  </div>
  <p class="mobile-copyright copyright">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>

  <div class="footer__contact">
    <h3 class="contact__heading">تپسی در شبکه‌های اجتماعی </h3>
    <div class="contact-logoes">
      <a href=""><img class="contact-logo" src="images/contact/facebook.svg" alt=""></a>
      <a href=""><img class="contact-logo" src="images/contact/telegram.svg" alt=""></a>
      <a href=""><img class="contact-logo" src="images/contact/instagram.svg" alt=""></a>
      <a href=""><img class="contact-logo" src="images/contact/twitter.svg" alt=""></a>
      <a href=""><img class="contact-logo" src="images/contact/linkedin.svg" alt=""></a>
    </div>
  </div>
</footer>