
  <div class="main-bg">
    <div class="application">
      <div class="application__text">
        <h1 class="application__heading">تپسی</h1>
        <h2 class="application__desc">اپلیکیشن درخواست خودرو و پیک
        </h2>
      </div>
      <div class="application__buttons">
        <a href="" class="btn btn--white-bg ">دانلود اپلیکیشن مسافران </a>
        <a href="" class="btn btn--white-bg"> وب اپلیکیشن مسافران</a>
        <a href="" class="btn btn--transparent-bg"> ثبت‌نام راننده خودرو</a>
        <a href="" class="btn btn--transparent-bg"> ثبت‌نام راننده موتور</a>
        <a href="" class="btn btn--transparent-bg">
          دانلود اپلیکیشن رانندگان </a>
      </div>
    </div>
    <img class="phone" src="images/home/mockup-phone.webp" alt="">
  </div>