<div class="iran-cities">
  <h2 class="iran__heading">تپسی در ایران</h2>
  <div class="iran__flex">
    <div class="city">
      <h3 class="per">شهر 1</h3>
      <h3 class="eng">city 1</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 2</h3>
      <h3 class="eng">city 2</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 3</h3>
      <h3 class="eng">city 3</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 4</h3>
      <h3 class="eng">city 4</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 5</h3>
      <h3 class="eng">city 5</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 6</h3>
      <h3 class="eng">city 6</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 7</h3>
      <h3 class="eng">city 7</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 8</h3>
      <h3 class="eng">city 8</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 9</h3>
      <h3 class="eng">city 9</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 10</h3>
      <h3 class="eng">city 10</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 11</h3>
      <h3 class="eng">city 11</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 12</h3>
      <h3 class="eng">city 12</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 13</h3>
      <h3 class="eng">city 13</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 14</h3>
      <h3 class="eng">city 14</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 15</h3>
      <h3 class="eng">city 15</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 16</h3>
      <h3 class="eng">city 16</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 17</h3>
      <h3 class="eng">city 17</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 18</h3>
      <h3 class="eng">city 18</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 19</h3>
      <h3 class="eng">city 19</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 20</h3>
      <h3 class="eng">city 20</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 21</h3>
      <h3 class="eng">city 21</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 22</h3>
      <h3 class="eng">city 22</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 23</h3>
      <h3 class="eng">city 23</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 24</h3>
      <h3 class="eng">city 24</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 25</h3>
      <h3 class="eng">city 25</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 26</h3>
      <h3 class="eng">city 26</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 27</h3>
      <h3 class="eng">city 27</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 28</h3>
      <h3 class="eng">city 28</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 29</h3>
      <h3 class="eng">city 29</h3>
    </div>
    <div class="city">
      <h3 class="per">شهر 30</h3>
      <h3 class="eng">city 30</h3>
    </div>
  </div>

</div>