<div class="services">
  <h2 class="services__heading">
    سرویس های تپسی
  </h2>
  <nav class="services__nav">
    <div class="services-flex">
      <div class="grey-box grey-1"></div>
      <div class="grey-box grey-2"></div>
      <div class="services__type">

        <img src="images/home/cc-autopeyk.png" alt="">
        <p>تپسی پلاس</p>
      </div>
      <div class="services__type">
        <img src="images/home/cc-classic.png" alt="">
        <p>تپسی پلاس</p>
      </div>
      <div class="services__type">
        <img src="images/home/cc-line.png" alt="">
        <p>تپسی پلاس</p>
      </div>
      <div class="services__type">
        <img src="images/home/cc-motopeyk.png" alt="">
        <p>تپسی پلاس</p>
      </div>
      <div class="services__type">
        <img src="images/home/cc-plus.png" alt="">
        <p>تپسی پلاس</p>
      </div>
      <div class="services__type">
        <img src="images/home/cc-tel.png" alt="">
        <p>تپسی پلاس</p>
      </div>
    </div>
  </nav>

  <div class="services__content">
    <div class="services__text">
      <h3 class="services__heading">تپسی کلاسیک
      </h3>
      <p class="services__description">با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان دارید. تپسی
        کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند
        مقصد و همچنین توقف در مسیر را دارید.</p>
    </div>
    <div class="services__desktop-image">
      <img src="images/home/illus-classic.webp" alt="">
    </div>
  </div>
  
</div>
